@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/shared/mixins/mixins.scss';

:root {
  --primary: #303247;
  --secondary: #F6E308;
  --border: #3032471a;

}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  padding: 32px 65px;
}

.btn {
  background-color: var(--secondary);
  padding: 11px 32px !important;
  @include font(20px, 500, 24px);
  text-transform: uppercase;
}