@import './../../mixins/mixins.scss';

.card-wrapper {
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 20px;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  &__title {
    @include font(25px, 600, 30px);
    width: 100%;
  }

  &__details {
    @include font(20px, 400, 30px);
    margin-top: 10px;
  }
}

.invested {
  @include font(16px, 600, 20px);
  color: #51A571;
  text-align: right;
  margin-bottom: 13px;
}